extends ../templates/landing.pug

block content
    .contenido
        aside 
            nav 
                h3 MENU 
                ul 
                    li ACERCA 
                    li NOTICIAS 
                    li CONTACTO
        section 
            h2 TITULO PRINCIPAL 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem iste corporis omnis quas eius tempore, ducimus quae molestiae ab voluptate placeat saepe ipsa minima, tempora voluptatibus sit alias, rem assumenda!
                br/ 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquid nemo rem, sapiente illo tempora laborum tenetur, sint impedit minima fugiat ullam repudiandae nostrum vero consequuntur itaque dignissimos nam officia?

            button.boton VER MÁS