mixin boxCreator(img,nCaja,alt)
	.caja 
		.caja__imagen 
			//- img(src="images/#{img}" alt="Lucia")
			img(src=img alt=alt)&attributes(attributes)
		.caja__contenido 
			h3 Subtitulo #{nCaja}
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dignissimos, labore reiciendis inventore laboriosam magni.

